.merriweather-sans-league {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: #091428;
}

h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F0E6D2;
    margin: 0.25rem;
    margin-top: 1rem;
}

h2 {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F0E6D2;
}


.worldmap {
    width: 90%!important;
    height: auto;
}

.worldmap path {
    transition: fill 0.2s ease;
}

.highlighted {
    fill: #7cbfec; /* Change to the desired highlight color */
    transition: fill 0.3s ease; /* Add a smooth transition effect */
  }

.write-up {
    position: absolute;
    top: 10px; 
    right: 10px; 
    border-radius: 3px;
    color: #F0E6D2;
    background-color: #1E282D;
    border-color: #C89B3C;
    font-size: 1.5rem;
}